<h1>About Spracto.net</h1>

<div class="jumbotron center">
	<h2>Welcome to my example web application.</h2>
</div>

<div class= ""
<p>My name is Barclay and I have a passion for computers. Last year I made the decision to teach myself more about the devices we are increasingly reliant upon. The website you are currently viewing is the culmination of many hours of hard work, setbacks and occasional frustration. However if you're reading this, I can honestly say it has all been worth it. </p>