<div class="jumbotron center">
	<h1>Welcome to my second attempt at building something</h1>

	<p>
	<%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %> 
	<%= link_to "Sign up", "#", class: "btn btn-success btn-lg" %> Comes with free porn!</p>
 </div>